.clearfix {
  display: block;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
form #errors {
  color: red;
  height: 30px;
}
.container #days {
  display: block;
  padding: 0;
  width: 100%;
  margin-right: -30px;
  list-style-type: none;
}
.container #days:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.container #days .day {
  float: left;
  width: 250px;
  height: 170px;
  transition: 0.4s;
  margin: 0 30px 30px 0;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
}
.container #days .day[data-toggle="modal"]:hover {
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.26);
}
.container #days .day .sized-text sized-pic {
  width: 230px;
  height: 150px;
  margin-left: 10px;
  margin-right: 10px;
}
.container #days .day .label {
  color: #337AB7;
  bottom: 0;
  text-align: center;
}
